<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext_html }}</p>

{% schema %}
  {
    "name": "Template 404",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "404 Title",
        "default": "404"
      }, {
        "type": "textarea",
        "id": "subtext_html",
        "label": "404 Subtext",
        "default": "<p>Sorry, the page you were looking for could not be found.</p>"
      }
    ]
  }
{% endschema %}